 <section class="album-covers container clearfix">
     <div class="collection-album-container column fourth">
<!--         Image not rendering-->
         <img src="/assets/images/album_covers/01.png"/>
         <div class="collection-album-info caption">
             <p>
<!--                 change here -->
                 <a class="album-name" ui-sref="album">The Colors</a>
                 <br/>
  <!--                 change here -->
                 <a ui-sref="album">Pablo Picasso</a>
                 <br/>
                 X songs
                 <br/>
             </p>
         </div>
     </div>
 </section>